.catalog {
  background-color: #ffffff;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__headline {
  font-family: $font-head;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}
