.contacts {
  margin: 0 auto;
  min-width: 320px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 100%;
    background-image: url("../img/bg-map-tablet@1x.png");
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-width: auto;
  }
}

.contacts__map-image {
  width: 100vw;
  height: 400px;
  display: block;
  background-color: #f7f7f7;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .contacts__map-image {
    background-image: url("../img/bg-map-tablet@1x.png");
  }
}

@media (min-width: $desktop-width) {
  .contacts__map-image {
    width: 100%;
    overflow: visible;
    background-image: url("../img/bg-map-desktop@1x.png");
  }
}

.contacts__wrapper {
  background-color: #f2f2f2;

  width: 100vw;
  position: absolute;
  top: -76px;
  display: flex;
  z-index: 2;
}

.main-page .contacts__wrapper {
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    position: static;

    justify-content: space-between;
    width: 100vw;
    padding: 68px 70px 56px 70px;
    // margin: 0 auto;

    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: calc((100vw - 1220px) / 2);
    width: 570px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }
}

.contacts__headline {
  font-family: $font-head;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  width: 125px;

  margin: 0;
  padding: 30px 0 24px 20px;
}

@media (min-width: $tablet-width) {
  .contacts__headline {
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    width: 155px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__headline {
    padding: 65px 0 60px 75px;
    width: 155px;
  }
}

.contacts__address {
  font-family: $font-content;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  width: 138px;

  margin: 0;
  padding: 30px 0 25px 12px;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    width: 155px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    padding: 60px 0 60px 95px;
    width: 155px;
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .contacts__address-city {
    display: inline-block;
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address-city {
    padding-top: 20px;
  }
}
