.copyright {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cdcdcd;
  padding-top: 22px;
  cursor: pointer;
  max-width: 320px;

  & path {
    fill: #444444;
  }

  &:hover path {
    fill: $leaf;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  &:active path {
    fill: $leaf;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    border-top: none;
    padding-top: 0;
    width: 170px;
  }
}

.copyright__link {
  align-self: center;
  vertical-align: middle;
  margin-right: 10px;
}
