.feature {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  counter-reset: item;
}

@media (min-width: $tablet-width) {
  .feature {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .feature {
    flex-wrap: nowrap;
  }
}

.feature__item {
  position: relative;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 26px 80px;
  min-height: 40px;
  background-color: transparent;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    background-color: #68b738;

    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    left: 0;
    top: -2px;
  }

  &--useful::before {
    font-size: 80px;
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--simple::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--easy::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--fast::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .feature__item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;

    min-height: 230px;
    width: 220px;
    counter-increment: item;
    padding: 0;
    padding-bottom: 40px;
    margin-bottom: 87px;
    margin-right: 105px;

    font-size: 16px;
    line-height: 24px;

    &::before {
      position: absolute;
      content: "";
      background-color: #68b738;

      background-repeat: no-repeat;
      background-position: center;
      width: 80px;
      height: 80px;
      left: 0;
      top: -114px;
    }

    &::after {
      position: absolute;
      content: counter(item);

      color: #f2f2f2;
      font-size: 281px;
      font-family: $font-head;
      top: -25px;
      right: 85px;
      width: 20px;
      height: 20px;
      z-index: -1;
    }
  }
}

@media (min-width: $tablet-width) {
  .feature__item:nth-child(n + 2) {
    margin-bottom: 130px;
    padding: 0;
    min-height: auto;
  }
}

@media (min-width: $desktop-width) {
  .feature__item {
    min-height: 230px;
    width: 245px;
    padding: 0;

    margin: 0;

    &::after {
      top: -25px;
      right: 110px;
    }
  }
}
