.features {
  background-color: #ffffff;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .features {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1220px;
    margin: 0 auto;
  }
}

.features__headline {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  color: #111111;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .features__headline {
    font-size: 60px;
    margin-bottom: 184px;
  }
}
