.page-header {
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    margin: 65px auto;

    background-color: transparent;
  }
}

.page-header__logo {
  align-self: flex-start;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    align-self: center;
  }
}

.page-header__logo-image {
  padding: 11px 0;
  vertical-align: center;
}
