.page-header {
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    min-width: 708px;
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;

    background-color: transparent;
    width: 1220px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
  }
}

.page-header__logo {
  align-self: flex-start;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 19px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    align-self: flex-end;
    padding: 0;
    margin: 0;
  }
}
