.programs {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .programs {
    margin-bottom: 44px;
  }
}

.programs__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
}

@media (min-width: $tablet-width) {
  .programs__header {
    width: 100%;
    align-items: flex-start;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .programs__header {
    min-height: 650px;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    margin: 0 auto;
    margin-top: -140px;
    margin-bottom: 80px;
  }
}

.programs__headline {
  font-family: $font-head;
  width: 260px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .programs__headline {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    min-width: 450px;
    margin: 0;
    margin-left: calc((100vw - 528px) / 2);
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .programs__headline {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    align-self: center;

    margin: 0;
    // margin-left: 9vw;
    margin-bottom: 42px;
  }
}

.programs__slogan {
  font-family: $font-head;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .programs__slogan {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: calc((100vw - 528px) / 2);
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .programs__slogan {
    margin-left: 0;
    margin-bottom: 52px;
  }
}

.programs__choose {
  margin: 0 auto;
  margin-bottom: 22px;
  position: relative;
  bottom: -290px;
  width: 230px;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .programs__choose {
    font-size: 20px;
    line-height: 20px;
    bottom: 0;
    margin: 0;
    z-index: 10;
    min-width: 225px;
    margin-left: calc((100vw - 528px) / 2);
    padding: 16px 0;
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .programs__choose {
    margin: 0;
    align-self: center;
  }
}

.programs__wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;
  min-height: 305px;
  text-align: center;
  background-color: #65a93c;
  width: 100%;
}

@media (min-resolution: 2dppx) {
  .programs__wrapper {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    background-image: none;
    background-color: $white;
    min-height: 105px;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    align-self: center;
    min-height: 300px;
    width: 41vw;
    padding-left: 9vw;
  }
}

.programs__image-container {
  margin-top: -140px;
}

@media (min-width: $desktop-width) {
  .programs__image-container {
    min-height: 696px;
  }
}

@media (min-width: $tablet-width) {
  .programs__can {
    line-height: 0;
    margin: 0;
    font-size: 0;
  }
}

@media (min-width: $tablet-width) {
  .programs__can {
    margin-top: -25px;
  }
}

@media (min-width: $desktop-width) {
  .programs__can {
    align-self: center;
    margin-top: 150px;
    margin-left: -160px;
    position: absolute;
  }
}

@media (min-width: $tablet-width) {
  .programs__image-container {
    margin-top: -58px;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .programs__image-container {
    background-image: url("../img/index-background-desktop@1x.jpg");

    background-repeat: no-repeat;
    width: 50vw;
    background-size: cover;
    background-color: #65a93c;
    align-self: stretch;
    flex-grow: 1;
    margin: 0;
    margin-top: -55px;
  }

  @media (min-resolution: 2dppx) {
    .programs__image-container {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .programs__list-item {
    margin: 0;
  }
}
