.program-item {
  background-color: $bg-grey;
  padding: 20px;
  margin: 20px;
}

.program-item__title {
  @include program_title {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .program-item__title {
    font-size: 36px;
  }
}

.program-item__desc {
  @include content {
  }
}

@media (min-width: $tablet-width) {
  .program-item__desc {
    font-size: 16px;
    line-height: 24px;
  }
}

.program-item__link {
  display: block;
  padding-top: 20px;
  font-family: $font-head;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  border-top: 1px solid #dadada;
}
