.properties {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #111111;
  width: 100%;
  border-collapse: collapse;
}

@media (min-width: $tablet-width) {
  .properties {
    font-size: 16px;
  }
}

.properties__value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .properties__value {
    padding: 8px 0;
  }
}

@media (min-width: $tablet-width) {
  .properties td {
    border-bottom: 2px solid #cdcdcd;
  }
}
