.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    min-width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    min-width: 480px;
    justify-content: space-between;

  }
}

.site-list__item {
  font-family: $font-menu;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 24px 0;
  text-align: center;
  min-width: 320px;
  border-top: 1px solid #f2f2f2;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    font-family: $font-head;
    font-size: 18px;
    line-height: 25px;
    min-width: 50px;

    padding: 5px 0;
    border-top: none;

    &--active {
      border-bottom: 2px solid $leaf;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    font-size: 20px;

    padding: 10px 0;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .main-page .site-list__item {
    color: $white;

    &--active {
      border-bottom: 2px solid $white;
    }
  }
}
