@import "normalize";
@import "fonts";
@import "vars";
@import "blocks/page-header.scss";
@import "blocks/button.scss";
@import "blocks/copyright.scss";
@import "blocks/feature.scss";
@import "blocks/features.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/program-item.scss";
@import "blocks/programs.scss";
@import "blocks/site-list.scss";
@import "blocks/social.scss";
@import "blocks/page-footer.scss";
@import "blocks/catalog.scss";
@import "blocks/item-card.scss";
@import "blocks/properties.scss";
@import "blocks/show-all.scss";
@import "blocks/case.scss";
@import "blocks/addition.scss";
@import "blocks/addition-item-card.scss";
@import "blocks/contacts.scss";

body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}
